/* Body & basic typography */
body {
  font-family: system-ui, sans-serif;
  margin: 40px;
  max-width: 800px;
  line-height: 1.6;
  color: #111;
  background-color: #fff;
}

/* Headings */
h1, h2, h3 {
  font-weight: 400;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/* Links */
a {
  color: #2a7ae2; /* soft blue */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Lists */
ul {
  padding-left: 1.2em;
  margin-bottom: 1em;
}

/* Paragraphs */
p {
  margin-bottom: 1em;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0.5em;
}
